* {
    box-sizing: border-box;
}

body {
    text-align: center;
    /* height: 95vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px black solid; */
    /* margin: auto */
    /* overflow: hidden; */
}

.game {
    background-color: beige;
    /* width: 80%;
    height: 60%; */
    width: 800px;
    min-height: 300px;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.control-panel {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.board-table {

    width: 50%;
    height: 80%;
    border-spacing: 0;
}

.board-table td {
    font-size: 0.60em;
    background-color: lightgray;

    min-width: 30px;
    min-height: 16px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.board-table td.close {
    border-top: 4px solid rgb(255, 255, 255);
    border-right: 4px solid rgb(135, 135, 135);
    border-bottom: 4px solid rgb(135, 135, 135);
    border-left: 4px solid rgb(255, 255, 255);
}

.board-table td.open {
    border: 1px solid rgb(135, 135, 135)
}

.board-table span {
    margin: auto;
}

.hidden {
    display: none
}

.footer {

    background-color: lightblue;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;

}

.hint {
    min-width: 20px;
    min-width: 20px;
    max-width: 30px;
    max-width: 30px;
}

/* contrl-panel1 is hearts and hints */
/* .control-panel1 td {} */

.hint {
    cursor: pointer;
}

.used {
    visibility: hidden;
    cursor: default;
    pointer-events: none;
}

.buttons button {
    height: 30px;
    cursor: pointer;
}

.safe-cell {
    background-color: cyan !important;
}